.top_logo{
	width: 1200px;
	height: 143px;
	margin: 0 auto;

}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.top_logo a{
	display: block;
}
.top_logo img{
	width: 1200px;
	height: 143px;
}

.content{
	width: 1200px;
	margin: 10px auto;
	background:#eeeeee;
	padding-bottom: 40px;
	/*border: 1px solid red;*/

}

#content_list{
	margin-left: 257px;
	padding-top:45px;
}
.package{
	display: block;
}
#content_list span{
	display: block;
}
.list1{
	width: 668px;
	font-size: 18px;
	letter-spacing: 2px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 2px;
	border-bottom: 2px solid #D44E5F;

}
.list2{
	float: left;
	font-size: 14px;
}
.name{
	width: 80px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	padding-top: 25px;
	float: left;
}
.kind{
	float: left;
	display: block;
	width: 353px;
	height: 33px;
	margin-left:4px;
	margin-top: 25px;
	border: 1px solid #A7A7A7;
	padding-left: 10px;
}

.list2_one{
	width: 695px;
}
.kindd{
	float: left;
	display: block;
	width:353px;
	height: 33px;
	margin-left:4px;
	margin-top: 25px;
	border: 1px solid #A7A7A7;
	padding-left: 10px;
}
.name1{
	width: 80px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	padding-top: 25px;
	float: left;
	letter-spacing: 5px;
}
.list3{
	float: left;
	font-size: 14px;
}
.name2{
	width: 80px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	padding-top: 25px;
	float: left;
}
.name3{
	float: left;
	height: 33px;
	line-height: 33px;
	padding-top: 25px;
	text-align: center;
	width: 80px;

}

.list4 select{
	display: block;
	float: left;
	width: 242px;
	height: 35px;
	line-height: 35px;
	margin-top: 25px;
	padding-left: 10px;
	/*border: 1px solid red;*/
	margin-left: 4px;
}
.list4 select b{
	display: block;
	margin-left: 120px;
}
.vali_code{
	display: block;
	width: 124px;
	text-align: center;
	height: 35px;
	line-height: 35px;
	background : #5f5d5e;
	float: left;
	margin-top: 25px;
	color: #fff;
	border: 1px solid #A7A7A7;
	border-left: none;
}
.vali_code:hover{opacity: .8}
.yzkind{
	display: block;
	float: left;
	width: 230px;
	margin-top: 25px;
	margin-left: 4px;
	height: 33px;
	line-height: 33px;
	border: 1px solid #A7A7A7;
	padding-left: 10px;
}
.time_code{
	float: left;
}
.agree{

	height: 28px;
	margin-top: 63px;
	float: left;
	margin-left: 12px;
}
.agree a{
	color: #069;
}
.form_box_cen{
	float: left;
	overflow: hidden;
	width: 583px;
	padding-left: 80px;
}
/*.package label.error{float: left;margin-top: 30px;padding-left: 5px}*/
.agree a:hover{color: #c8202d}
.readagreement a:hover{
	text-decoration: underline;
}
.rights{
	float: right;
	width: 140px;
	margin-top: 85px;
	line-height: 58px;
}
#rsubmit{
	width: 115px;
	height: 33px;
	color: #f7ffff;
	background:#c8202d;
	font-size: 16px;
	border-radius:3px;
	cursor:pointer;
	float: right;
	margin-right: 10px;
}
#rsubmit:hover{opacity: .6}

.package1{display: block;float: left;}
.wd202{width: 202px}
.wd207{width: 207px}

ol, ul, menu {
	list-style:none
}
img {
	border:0
}
a:focus {
	outline:none
}
em, i {
	font-style: normal;
}
button, input, select, textarea {
	font-size:100%;
	margin:0;
	vertical-align:-3px;
	outline:none;
}
button, input {
	border:1px solid;
	outline:none;
	line-height:normal;
*overflow:visible
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
/* button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}
input[type="search"] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
} */
/* textarea {
	overflow:auto;
	vertical-align:top
}
::selection {
background:#72d0eb;
color:#fff;
text-shadow:none
}
::-moz-selection {
background:#72d0eb;
color:#fff;
text-shadow:none
}
*[hidden] {
	display:none
}
a {
	color:#0088DB;
	text-decoration:none;
	cursor:pointer
}
a:hover {
	color:#2A5E8E
}
.clearfix:after, .central:after, .widget ul:after, .paging:after, .pagenav:after, .base-tit:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
} */

body, button, input, select, textarea, code {
	font-size:12px;
	font-family:microsoft yahei;
	color: #444;
}



/* input */
.ipt {
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	height: 21px;
	line-height: 21px;
	color: #555;
	width: 180px;
	vertical-align: baseline;
}
.ipt-mini {
	width: 140px;
	padding: 1px 3px;
}
.ipt:focus {
	border-color: #95C8F1;
	box-shadow: 0 0 4px #95C8F1;
}
/* btn */

input.btn {
	height: 29px;
}

.btn:active, .btn.btn-active {
	box-shadow:#ddd 0 1px 2px 0 inset;
	border-color:#c6c6c6;
}
.btn:focus {
	border-color:#4d90fe;
	outline:none
}

.btn-primary:active, .btn-primary.btn-active {
	box-shadow:#2176D3 0 1px 2px 0 inset;
	border-color: #3079ED;
}
.btn-primary:focus {
	border-color:#4d90fe;
	outline:none
}

.theme-buy {
	margin-top:10%;
	text-align: center;
}
.theme-gobuy, .theme-signin {
	font-size: 15px;
	line-height: 30px;
}
.theme-price {
	position: relative;
	bottom: -6px;
	font-family: microsoft yahei, Arial, Helvetica, sans-serif;
	margin-right: 20px;
	font-weight: bold;
	color: #f80;
	line-height: 32px;
	font-size: 24px;
	display: inline-block;
}
 .theme-price dfn {
	font-style: normal;
	font-size: 18px;
	margin-right: 2px;
}
.theme-desc {
	padding: 30px;
}
.theme-version {
	padding: 30px;
}
.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
.theme-popover {
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:680px;
	height:380px;
	margin:-180px 0 0 -330px;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}
.theme-poptit {
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
}
.theme-popbod {

	color:#444;
	height: 148px;
}
.theme-popbom {
	padding:15px;
	background-color:#f6f6f6;
	border-top:1px solid #ddd;
	border-radius:0 0 5px 5px;
	color:#666
}
.theme-popbom a {
	margin-left:8px
}
.theme-poptit .close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.theme-poptit .close:hover {
	color:#444;
}
.btn.theme-reg {
	position: absolute;
	top: 8px;
	left: 43%;
	display: none
}
.inp-gray, .feed-mail-inp {
	border:1px solid #ccc;
	background-color:#fdfdfd;
	width:220px;
	height:16px;
	padding:4px;
	color:#444;
	margin-right:6px
}
.dform {
	padding:80px 0 0 0 ;
	text-align: center;
}
.dform .ipt_error {
	background-color:#FFFFCC;
	border-color:#FFCC66
}
.dform-tip {
	display:none;
	background-color:#080;
	color:#fff;
	line-height:42px;
	margin-top:10px;
	font-size: 14px;
}
.dform-tip-errer {
	background-color: #CF301A;
}
.dform-tip a {
	display: inline-block;
	padding: 0 20px;
	margin-left:10px;
	background-color: #FFE924;
	color: #CF301A;
}
 .dform-login {
	padding:0;
	height: 270px;
	overflow: hidden;
}
.dform-login iframe {
	height: 470px;
	margin-top: -180px;
}
.theme-signin {
	margin: -80px -0px -0px 30px;
	text-align:left;
	font-size: 14px;
	width: 630px;
	height: 210px;
	overflow: auto;
	position: relative;
}
.themclose{
	margin-top: 20px;
}

.themclose a{
	height: 35px;
	display: block;
	width: 146px;
	margin:0 auto;
	background:#c8202d;
	color: #ffe6ed;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
	border-radius:3px ;
}
.foot_btom{
	width: 1200px;
	margin:0 auto;
	overflow: hidden;
}
.footer{
	width: 820px;
	margin:0 auto;
}
.footer ul{
	width: 100%;
	height: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.footer ul li{
	width: 135px;
	height: 20px;
	line-height:20px;
	font-size: 14px;
	float: left;
}
.footer ul li a{
	color:#707070;
	text-align: center;
	display: block;


}
.fot1 a{
		border-right: 1px solid #a6a3a3;
}

.footer ul li a:hover{
	color: #C8202D;
}
.bottom{
	width: 100%;
	height: 45px;
	background: #5f5d5e;
}

em i{
	font-style:normal ;
}
.content_name_list1{
	width: 583px;
	float: left;
	font-size: 12px;
	color: #878787;
}
.content_name_list1 a{
    color: #3399ff;
}
.content_name_list1 a:hover{
    color: #c8202d;
}
.content_name_list1 span.list_yours_2{
	width: 325px;
	float: left;
	text-indent: 3px;
}
.list_yours_1{
	float: left;
}
.list_yours_1 i{
	float: left;
	color: #444;
}
.list_yours_1 p{
	float: left;
	width: 330px;
	padding-left: 5px;

}
.content_name_list2{
	float: left;
	width: 335px;
}
.list2 span.name_huoqu{
	width: 200px;
	float: right;
	height: 33px;
	padding-top: 25px;
	line-height: 33px;

}
.name_huoqu i{
	color: #c8202d;
}
.zhu_list1{
	float: left;
	font-size: 14px;

	width: 695px;
}
.zhu_list1 select{
	display: block;
	float: left;
	width: 198px;
	height: 35px;
	line-height: 35px;
	margin-top: 25px;
	padding-left: 10px;
	/*border: 1px solid red;*/
	margin-left: 4px;
}
.zhu_list1 select.city_sele_1{
	margin-left: 9px;
}
.zhu_list1 select.area_sele_2{
	margin-left: 9px;
}